<div class="row">
  <div class="rev-card col-12">
    <div class="row">
    <div class="col-12">
      <h1 class="title-h1">
        <%= link_to school.name, school_path(id: school.id) %>
      </h1>
      <div id="map"></div>
    </div>
    <div class="col-sm-6">
      <%= render "schools/school_photo_slide", school: school %>
    </div>
    <div class="col-sm-6">
      <p><i class="fa fa-home" aria-hidden="true"></i> <%= school.address %></p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> <%= school.tell %></p>
      <% if school.opentime.present? %>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= school.opentime %></p>
      <% end %>
      <p><%= render "schools/genre", school: school %></p>
    </div>
  </div>
  </div>
</div>

<script async defer 
src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAP_API_KEY"] %>&callback=initMap">
</script>
<script type="text/javascript">
  function initMap() {
    var test = { lat: <%= school.latitude %>, lng: <%= school.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = "住所：<%= school.address %>";
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });
    console.log(marker)
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
