<div class="cp_cssslider">
	<div class="cp_slidewrapper">
    <div class="cp_slide_item"><img src="<%= school.image_url_a %>"></div>
    <div class="cp_slide_item"><img src="<%= school.image_url_b %>"></div>
    <div class="cp_slide_item"><img src="<%= school.image_url_a %>"></div>
    <div class="cp_slide_item"><img src="<%= school.image_url_b %>"></div>
    <div class="cp_slide_item"><img src="<%= school.image_url_a %>"></div>
  </div>
</div>