<div class="row">

  <div class="rev-card-school-details col-12">
    <!-- 学校名 -->
    <div class="col-6">
      <h1 class="title-school">
        <%= link_to school.name, school_path(id: school.id) %>
      </h1>  
    </div>
    <!-- 学校の説明 -->
    <div class="col-6">
      <p><i class="fa fa-home" aria-hidden="true"></i><%= school.detail %></p>
    </div>
    <!-- 学校写真 -->
    <div class="col-6" style="left:530px; bottom:50px">
        <%= render "schools/school_photo_slide", school: school %>
    </div>
  </div>

    <!-- 学校の情報 -->
  <div class="rev-card-school-details-map col-12">
    <div class="col-6" style="top:20px;">
      <p><i class="fa fa-home" aria-hidden="true"></i> <%= school.address %></p>
      <p><i class="fa fa-phone" aria-hidden="true"></i> <%= school.tell %></p>
      <% if school.opentime.present? %>
        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <%= school.opentime %></p>
      <% end %>
      <p><%= render "schools/genre", school: school %></p>
    </div>
    <!-- 学校地図 -->
    <div class="col-6" style="bottom:170px; left:530px">
        <div id="map"></div>
    </div>
  </div>

</div>

<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var test ={lat: <%= school.latitude %>, lng: <%= school.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15, 
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= school.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

 // Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLEMAP_API_KEY'] %>&callback=initMap">
</script>

<style type="text/css"> 
  #map {
  height: 400px;
  width: 550px;
  margin-left:auto;
  margin-right:10px;
  text-align:left;
}
</style>
<div id="map"></div>