<% provide(:title, "学校一覧")  %>
<div class="container">
  <h1 class="title-h1">
    登録学校一覧
  </h1>
  
    <div class="row">
      <div class="col s12">
        <%= render "search_form" %>
      </div>
    </div>

  <div class="row">
    <% @schools.each do |school| %>
    <%= link_to school_path(id: school.id) do %>
    <div class=" col-lg-4">
      <div class="card mt-5" style="width: 20rem;">
        <% if school.image_url_a.present? %>
          <%= image_tag "#{school.image_url_a}", class: "card-img-top", size: "300x300" %>
        <% else %>
          <%= image_tag "no_image.png", class: "card-img-top", size: "200x200"  %>
        <% end %>1  z
        <div class="card-body webkit-center">
          <h4 class="title-h1"><%= school.name %></h4>
          <p class="card-text"><%= render "genre", school: school %></p>
          <p class="school-card-text">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            口コミ件数 <%= school.reviews.count %> 件</p>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
  <div class='kaminari_paginate'>
    <%= paginate @schools %>
  </div>
</div>