<% provide(:title, @school.name) %>
  <div class="container">
    <%= link_to :back, class:"btn-back" do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> 戻る
    <% end %> 

    <%= render "school_details", school: @school %>
    <div class="row">
    <%= link_to new_school_review_path(school_id: @school.id), class:"btn-new-review" do %>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      学校の口コミ投稿
    <% end %>
    </div>
    
    <div class="row">
    <div class="col-sm-6">
      <h1 class="title-h1"><%= @school.name %>の口コミ一覧</h1>
      <%= render "layouts/review_index", reviews: @reviews %>
    </div>
  </div>
  <%= paginate @reviews %>
  </div>
