<% provide(:title, @school.name) %>
  <div class="container">
    <%= link_to :back, class:"btn-back" do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> 戻る
    <% end %> 

    <div class="row">
      <div class="col">
        <!-- 学校の詳細ページ -->
        <%= render "school_details", school: @school %>
          <%= link_to new_school_review_path(school_id: @school.id), class:"btn-new-review-show" do %>
          <i class="fa fa-check" aria-hidden="true"></i>学校のレビュー投稿
        <% end %> 
      </div>
    </div>


    <!-- レビューリスト -->
    <div class="row"> 
      <div class="col">
        <h1 class="title-rev-list"><%= @school.name %>のレビューリスト</h1>
        <%= render "layouts/review_index", reviews: @reviews %>
      </div>
    </div>
    <%= paginate @reviews %>
  </div>