<h1>カテゴリー追加</h1>
<%= form_with model: @category, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, "カテゴリー名"  %>
    <%= f.text_field :name %>
  </div>
  <%= f.submit "投稿" %>
<% end %>
<h1>カテゴリー一覧</h1>
<% @categories.each do |category| %>
    <%= link_to category.name, category_path(id: category.id), method: :delete, class: "text-black"  %>
<% end %>