<%= form_with model: [@school, @review], local: true do |f| %>
  
  <div class="form-group mt-3">
    <p class="label-font">
      タイトル
    </p>
    <%= f.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <p class="label-font">
      本文
    </p>
    <%= f.text_area :body, size: "20x10", class:"form-control" %>
  </div>

  <div class="form-group">
    <p class="label-font">
      タグの入力
    </p>
    <%= f.text_field :tag_list, value: @review.tag_list.join(','), class:"form-control", placeholder: ",で区切るとタグを複数登録できます。" %>
  </div>

  <div class="category-form">
    <span class="category-form-title">
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      オススメポイント
    </span>
    <br>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
      <%= category.label do %>
        <%= category.check_box %>
        <%= category.text %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <p class="label-font">
      写真を添付
    </p>
  <%= f.attachment_field :review_images_images, multiple: true, class:"btn-flat-simple"%>
  <br>
  </div>
  
  <div class="text-center my-3 ">
    <%= button_tag type: "submit", class: "btn-submit" do %>
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      投稿する
    <% end %>
  </div>
<% end %>