<% provide(:title, @review.title)  %>
<div class="container">
  <%= link_to :back, class:"btn-back" do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
  <% end %>

  <div class="row">
    <div class="rev-card-school-details col-12">
       <!-- タイトル -->
      <div class="title-school">
        <%= @review.title %>
      </div>

      <!-- レビューに画像が添付されているか確認 -->
      <div class="col-md-6 float-right">
        <% if @review.review_images.present? %>
            <%= render "photo_slide", review: @review %>
        <% else %>
          <div class="cp_cssslider2">
            <div class="cp_slide_item2">
                <img class="card-img-top" src="/assets/default.jpg" alt="no_image" %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- レビュー本文 -->
      <div class="col-md-6 float-left">
        <div class="mt-4">
         <div class="review-form">
          <p><%= safe_join(@review.body.split("\n"), tag(:br)) %></p>
         </div>
        </div>
      </div>

      <!-- ユーザー -->
      <div class="col-md-6 float-left pt-4 pb-4">
        <div class="card-text-user">

        <%= link_to profile_path(id: @review.user.profile.id) do %>
        <h6 style="color:black;"><%= render 'layouts/profile_icon', profile: @review.user.profile %>
        <%= @review.user.profile.name %>さん</h6>
        <% end %>
        </div>

      </div>

      <!-- タグ -->
      <div class="col-md-6 float-left">
        <%= render "reviews/tag_list", tag_list: @review.tag_list %>
      </div>

       <!-- カテゴリー -->
       <div class="col-md-6 float-left">
        <div class="category-area">
          <span class="category-area-title"><i class="fa fa-check-square-o" aria-hidden="true"></i>オススメポイント</span>
          <% @review.categories.each do |category| %>
          <span class="badge badge-light">
            <%= link_to category_path(id: category.id), class: "text-black" do %>
              <i class="fa fa-thumb-tack" aria-hidden="true"></i> <%= category.name %>
            <% end %>
          </span>
          <% end %>
        </div>
      </div>

      <!-- いいね -->
      <div class="col float-left">
        <%= render "likes/like", review: @review %>
        <!-- 投稿日 -->
          <i class="fa fa-calendar" aria-hidden="true"></i> <%= @review.created_at.strftime("%Y年%m月%d日") %>
        <!-- レビューの編集・削除ボタン -->
        <% if @review.user == current_user %>
        <%=link_to edit_school_review_path, class:"btn-edit m-1" do %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i> レビューを編集する
        <% end %>
        <%=link_to school_review_path, method: :delete, class:"btn-destory m-1",data: {confirm: "本当にこの投稿を削除しますか？" } do %>
        <i class="fa fa-trash-o" aria-hidden="true"></i> レビューを削除する
        <% end %>
        <% end %>
      </div>
    </div>
  </div>

      
  <!-- コメント -->
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
    <%= paginate @comments %>
    <% if user_signed_in? %>
    <div class="col-8">
      <div id="error_area">
        <%= render partial: 'comments/form', locals: { comment: @comment, review: @review } %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col">
     <%= render "schools/school_details", school: @school %>  
    </div>
  </div>
</div>