<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#2C7CFF;"> 
    <a class="navbar-brand" href="/"><img src="/images/Local-Plan-logo.png" alt="LocalPlanlogo" style="width:auto; height:60px;"></a>
      <button type="button" class="navbar-toggler hamburger" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="Navber">
        <ul class="navbar-nav mr-auto text-white">
          <li class="nav-item"><%= link_to "語学学校リスト", schools_path, class:"nav-link text-light" %></li>
          <li class="nav-item"><%= link_to "レビューリスト", reviews_index_path, class:"nav-link text-light" %></li>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to new_school_path, class: "btn btn-info nav-rev-btn text-white" do %>
            <i class="fa fa-check" aria-hidden="true"></i>レビュー投稿
            <% end %>
          </li>   
          <li class="nav-item dropdown">
          <a href="" class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= render 'layouts/profile_icon', profile: current_user.profile %>
              <%= current_user.profile.name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "プロフィール", profile_path(id: current_user.profile.id), class: "dropdown-item" %>
              <%= render "notifications/circle" %>
              <%= link_to "アカウント情報の編集", edit_user_registration_path, class:"dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"dropdown-item", id: "log_out" %>
            </div>
          </li>
          <% else %>
            <li class="nav-item nav-link pointer text-white" id="signup-show" style="cursor:pointer">新規登録</li>
            <li class="nav-item nav-link pointer text-white" id="login-show" style="cursor:pointer">ログイン</li>
          <% end %>
        </ul>
      </div>  
    </nav>
</header>