<div class="row">
<% if reviews.present? %>
  <% reviews.each do |review| %>
      <div class="card-deck">
        <div class = "col s12 m12 l4">
          <div class="card mt-4" style="width: 20rem;">
            <div class="card-body">
              <!-- イメージ -->
              <% if review.review_images.present? %>
                <%= attachment_image_tag review.review_images.first, :image, :fill, 280, 280 %>
              <% else %>
                <img class="card-img-top" src="/assets/default.jpg" alt="no_image" width="270px" height="280px" %>
              <% end %>     
              <!-- レビュータイトル -->
              <h5 class="card-title"><%= review.title %></h5> 
              <!-- 本文 -->
              <p class="card-text">
                <%= truncate review.body, length: 70 do %>
                <% end %>
                <%= link_to school_review_path(school_id: review.school_id, id: review.id), class: "btn-continue" do %>
                  <i class="fa fa-caret-right" aria-hidden="true"></i> 続きを見る
                <% end %>
                </p>

              <!-- 投稿者 -->
                <p class="card-text">
                <%= link_to profile_path(id: review.user.profile.id) do %>
                  <%= render 'layouts/profile_icon', profile: review.user.profile %>
                  <%= review.user.profile.name %>さん
                <% end %>
                </p>
              <!-- タグ -->
                <p class="card-text">
                <%= render "reviews/tag_list", tag_list: review.tag_list %>
                </p>
              <!-- 投稿日 -->
              <div class="card-time"><small class="text-muted">
                <i class="fa fa-calendar" aria-hidden="true"></i> 
                <%= review.created_at.strftime("%Y年%m月%d日") %>
              </small></div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% else %>

  <div class="text-center p-5">
    <p>投稿はありません</p>
  </div>
  <% end %>
</div>
