<div class="row">
<% if reviews.present? %>
  <% reviews.each do |review| %>
      <div class="card-deck">
        <div class ="col s12 m12 l4">
          <div class="card mt-4 shadow-sm" style="width: 15rem; height: 38rem;">
            <div class="card-body">
              <!-- イメージ -->
              <% if review.review_images.present? %>
                <%= attachment_image_tag review.review_images.first, :image, :fill, 200, 200 %>
              <% else %>
                <img class="card-img-top" src="/assets/default.jpg" alt="no_image" width="200px" height="200px" %>
              <% end %>     
              <!-- レビュータイトル -->
              <div class="card-title"><%= review.title %></div> 
              <!-- 本文 -->
              <p class="card-text">
                <%= truncate review.body, length: 13 do %>
                <% end %>
                <%= link_to school_review_path(school_id: review.school_id, id: review.id), class: "btn-continue" do %>
                  <i class="fa fa-caret-right" aria-hidden="true"></i> レビューの続きを見る
                <% end %>
                </p>

              <!-- 投稿者 -->
                <div class="card-text-user">
                  <%= link_to profile_path(id: review.user.profile.id) do %>
                    <%= render 'layouts/profile_icon', profile: review.user.profile %>
                    <%= review.user.profile.name %>さん
                  <% end %>
                </div>
              <!-- タグ -->
                <div class="card-tag">
                  <%= render "reviews/tag_list", tag_list: review.tag_list %>
                </div>
              <!-- 投稿日 -->
              <div class="card-time"><small class="text-muted">
                <i class="fa fa-calendar" aria-hidden="true"></i> 
                <%= review.created_at.strftime("%Y年%m月%d日") %>
              </small></div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
<% else %>

  <div class="text-center p-5">
    <p>投稿はありません</p>
  </div>
  <% end %>
</div>
